.content-tab-set {
    background: #f2f2f2;
    width: 100%;
    clear: both;
    padding: 80px;
    margin-top: 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}



@media (max-width: 840px) {
    .content-tab-set {
        padding: 80px 40px;
    }
}