.portfolio-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 60px;
    margin: 80px 0;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 1020px) {
    .portfolio-preview {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .portfolio-preview {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}