.lang-switcher {
    &__flag {
        margin-top: 3px;
        margin-left: 10px;
    }
}

@media (max-width: 800px) {
    .lang-switcher {
        &__flag {
            margin-left: 0px;
            margin-top: 10px;
        }
    }
}