.content-tab {
    align-items: center;
    
    &__sub-title {
        font-size: 22px;
    }

    &__text {
        font-size: 14px;
    }

    &__img {
        width: calc(100% - 80px);

        &--bg {
            padding: 40px;
            background-color: #321b4d;
            border-radius: 50%;
        }
    }
}

@media(max-width: 1180px) {
    .content-tab {
        &__img {
            margin: 0 0 40px;
        }
    }
}

@media(max-width: 840px) {
    .content-tab {

        &__img {
            max-width: 80%;
            margin: 0 auto 80px;
            display: block;
        }
    }
}

@media(max-width: 640px) {
    .content-tab {
        text-align-last: center;
    }
}