.portfolio-item-mockup {
    padding: 42% 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    max-width: calc(100vw - 40px);
    width: 100%;

    &--mobile &__overlay {
        background: url("../../assets/img/ipad.png") center top no-repeat;
        background-size: contain;
    }

    &--mobile &__img-container {
        top: 3.4%;
        padding-bottom: 65%;
        left: 4%;
        right: 4%;
    }

    &:hover {
        .portfolio-item-mockup__desc-container {
            top: 100%;
            opacity: 1;
        }
    }

    &__title {
        color: #da627d;
        margin-bottom: 10px;
        margin-top: 0px;
        font-weight: 200;
        font-size: 18px;
    }

    &__text {
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 0px;
    }

    &__desc {
        position: absolute;
        padding: 0 40px;
        left: 50%;
        overflow: hidden;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        &-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: calc(100vw - 40px);
            background-color: #321b4d;
            transition: opacity 0.8s linear, top 0.4s linear;
            overflow: hidden;
            padding-bottom: 60%;
        }
    }

    &__img {
        min-height: 100%;
        max-width: 100%;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    
    &__img-container {
        overflow: hidden;
        position: absolute;
        padding-bottom: 60%;
        top: calc(4% - 2px);
        left: 2%;
        right: 2%;
    }

    &__overlay {
        background: url("../../assets/img/imac.png") center top no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}