.blog-entry {
    &__title {
        margin-bottom: 5px;
    }

    &__content {
        width: 100%;
        display: block;
        overflow: hidden;
        margin: 20px 0;

        p {
            margin-bottom: 10px;
        }
        code {
            width: 100%;
        }
        blockquote {
            background: #f2f2f2;
            padding: 5px 40px;
            margin: 20px 0px;
        
            p {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}