.social-icons {
    &__icon {
        width: 30px;
        height: 30px;

        &-link {
            margin-right: 10px;
        }
    }
}

@media (max-width: 840px) {
    .social-icons {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}