.homepage {
    .animate-opacity {
        opacity: 1;
        transition: opacity 0.5s linear;
      
        &--inactive {
          opacity: 0;
        }
    }
}

@media (max-width: 840px) {
    .homepage {
        .col {
            margin-bottom: 80px;
        }
    }
}